<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>あくあちゃんの誕生日プロジェクト Aqua-Chan Birthday Project</title>
    <meta name="description" content="あくたん、お誕生日おめでとう！！！！！">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="あくあちゃんの誕生日プロジェクト Aqua-Chan Birthday Project" />
    <meta property="og:description" content="あくたん、お誕生日おめでとう！！！！！" />
    <meta property="og:image" content="https://raywarthog.github.io/aqua-birthday/dist/img/aqua.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://raywarthog.github.io/aqua-birthday/">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="あくあちゃんの誕生日プロジェクト Aqua-Chan Birthday Project">
    <meta name="twitter:image" content="https://raywarthog.github.io/aqua-birthday/dist/img/aqua.png">

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kosugi+Maru&family=Patrick+Hand&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/css/green-audio-player.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
        integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.css"
        integrity="sha512-FHwwMXxhAWjVhJyEgmmPg/aJ3BRmsOavHBV6yMK55Mz0rycBZcRmSowqij+ncd/JPtOzmUMZx7ZIRnGyqIE/1A=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="dist/index.css">

<body>
    <div id="white-full"></div>
    <div id="init-page">
        <div id="door-container">
            <div id="door-frame"></div>
            <div id="door_back"></div>
            <div id="door"></div>
            <div id="door-hint">
                <div class="loadingio-spinner-ripple-3zk4unnnmgj">
                    <div class="ldio-7p7zzvmvrrd">
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="bg-container">
        <div id="bg">
            <div id="bg-inner-box"></div>
        </div>
    </div>
    <div id="content" style="display: none">
        <section id="welcome-msg">
            <p lang="ja" data-aos="fade-down">あくあちゃんお誕生日おめでとう</p>
            <p lang="ja" data-aos="fade-down">海外ニキから</p>
            <p lang="ja" data-aos="fade-down">あくあちゃんが私たちからのこの小さなプレゼントを楽しんでください</p>
            <div id="scroll-arrow-hint">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </section>

        <section id="cover-video">
            <div class="sect-title" data-aos="fade-up">
                <h1>Cover MV (Please check back later)</h1>
                <h3 lang="ja">後でもう一度確認してください</h3>
                <div class="sect-title-deco"></div>
            </div>
            {{!-- <div id="cover-video-container" data-aos="fade-up">
                <div class="video-container">
                    <iframe title="placeholder" src="https://www.youtube-nocookie.com/embed/O8v5S1nhKzo" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div> --}}
            <div class="placeholder-small">
            </div>
        </section>

        <section id="cover-audio">
            <div class="sect-title" data-aos="fade-up">
                <h1>Cover Mix (Full)</h1>
                <h3 lang="ja">Cover (オーディオのみ)</h3>
                <div class="sect-title-deco"></div>
            </div>
            <div id="cover-audio-container" data-aos="fade-up">
                <audio controls>
                    <source src="audio/Blessing_resistance.webm" type="audio/webm">
                    <source src="audio/Blessing_resistance.ogg" type="audio/ogg">
                    <source src="audio/Blessing_resistance.mp3" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </section>

        <section id="birthday-msgs">
            <div class="sect-title" data-aos="fade-up">
                <h1>Messages</h1>
                <h3 lang="ja">手紙</h3>
                <div class="sect-title-deco"></div>
            </div>
            <div class="card-columns">
                {{#each messages}}
                <div class="birthday-msg-card-container" data-aos="fade-up">
                    <div class="birthday-msg-card card">
                        <div class="msg-deco"></div>
                        <div class="sender-details">
                            <div class="sender-name-container">
                                <span class="sender-name">{{username}}</span>
                                {{#with twitter}}
                                <span class="twitter-name text-muted">@{{this}}</span>
                                {{/with}}
                            </div>
                            <div>
                                {{#if country_code}}
                                <span class="flag-icon flag-icon-{{country_code}}" title="{{country_name}}"
                                    alt="{{country_name}}"></span>
                                {{/if}}
                            </div>
                        </div>
                        <div class="birthday-msg">
                            <blockquote class="blockquote mb-0" {{#if isMsgInJP}}lang="ja" {{/if}}>
                                <!-- htmlmin:ignore -->
                                <p>{{message}}</p>
                                <!-- htmlmin:ignore -->
                            </blockquote>
                            {{#if message_jp}}
                            <hr>
                            <blockquote class="blockquote mb-0" lang="ja">
                                <!-- htmlmin:ignore -->
                                <p>{{message_jp}}</p>
                                <!-- htmlmin:ignore -->
                            </blockquote>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>

        <section id="artbook">
            <div class="sect-title" data-aos="fade-up">
                <h1>Artbook (Click to enlarge)</h1>
                <h3 lang="ja">画集（写真をクリックすると拡大します）</h3>
                <div class="sect-title-deco"></div>
            </div>
            <div id="artbook-gallery">
                {{#each artbook_data}}
                <a href="{{fullpage}}" data-aos="fade-up">
                    <img class="artbook-page" srcset="{{thumbnail_small}} 150w,
                                 {{thumbnail}} 500w" sizes="(max-width: 700px) 150px,
                                500px" src="{{thumbnail}}" alt="" title="" />
                </a>
                {{/each}}
            </div>
        </section>

        <div class="placeholder">

        </div>

        <footer id="credits">
            <div class="credits-section">
                <h4>Project Organizer</h4>
                <p>Corneus/コロネウス</p>
            </div>
            <div class="credits-section">
                <h4>Supervisor</h4>
                <p>Kejiron</p>
            </div>
            <div class="credits-section">
                <h4>Editor</h4>
                <p>Kenneth</p>
                <p>Luna</p>
            </div>
            <div class="credits-section">
                <h4>Artbook Editor</h4>
                <p>Terra</p>
                <p>Shurararagi Kai</p>
                <p>Ryuusei Kai Ni</p>
            </div>
            <div class="credits-section">
                <h4>Translator</h4>
                <p>rikunandakedo</p>
                <p>Shiroemon translation</p>
            </div>
            <div class="credits-section">
                <h4>Art featured on artbook by</h4>
                <p>Deyb</p>
                <p>Merwin Senpai</p>
                <p>Hollow Play</p>
                <p>Leonardo Lauren</p>
                <p>Adrian Ruiz</p>
                <p>クネス</p>
                <p>Himexinひめし</p>
                <p>Turnip</p>
                <p>Yui Chan</p>
                <p>Anugmation【アヌンメーション】</p>
                <p>Ryan Schultz</p>
                <p>BioLightHero</p>
                <p>Just Cinnamon</p>
                <p>Kuuryusi</p>
                <p>Janny</p>
                <p>Chuef</p>
                <p>Gudanko</p>
                <p>Sylvira Vermillion</p>
                <p>DnC</p>
                <p>Mitz</p>
                <p>Franz</p>
                <p>Kaito Baito</p>
                <p>魔法見つける羊magicfindsheep</p>
                <p>Number 2</p>
                <p>Lucky</p>
                <p>KingBunny</p>
                <p>Zilfier</p>
                <p>Maxalex</p>
                <p>KOFFII DRNKR</p>
            </div>
            <div class="credits-section">
                <h4>Mixer</h4>
                <p>Xatro</p>
                <p>Daleth Delta</p>
            </div>
            <div class="credits-section">
                <h4>Singer</h4>
                <p>FaNE</p>
                <p>Quinshin</p>
                <p>Kazu (AdamaX)</p>
                <p>Blizzarderper</p>
                <p>ReaperNrt</p>
                <p>RyuujinLee</p>
                <p>Habakyan</p>
                <p>LunarGhostz</p>
                <p>Tensora</p>
                <p>Toletroi</p>
                <p>Dan Shikulai</p>
                <p>Sehai-kun</p>
                <p>NiteShade</p>
            </div>
            <div class="credits-section">
                <h4>Website</h4>
                <p>Warthog</p>
            </div>
            <div class="credits-section">
                <h4>Favicon art</h4>
                <p>DnC</p>
            </div>
            <div class="credits-section">
                <h4>Chibi art</h4>
                <p>Anugmation【アヌンメーション】</p>
                <p>Mitz</p>
            </div>
            <div class="credits-section">
                <h4>Others</h4>
                <p>FabGio</p>
                <p>Deimos</p>
                <p>WaifuMaster9000</p>
                <p>ReSV1</p>
                <p><a href="http://www.freepik.com" target="_blank">Cover castle gate designed by vectorpocket /
                        Freepik</a></p>
            </div>
            <div class="credits-section">
                <h4>Special thanks to</h4>
                <p>Holo Resistance, Onion Land, Shiroemon Translation Team, and everyone who supports this project</p>
            </div>
        </footer>

    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/js/green-audio-player.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.js"
        integrity="sha512-ZajFBgnksNp8Rj+AbmYe8ueOu45HiSjtf3QpqnRbHlq719m6VK0FkbYIqQ8wEnlVuJ1i9pC+z6Z9ewmDnUTMCg=="
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="dist/index.js"></script>
</body>

</html>