<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy birthday to Minato Aqua!</title>
    <meta name="description" content="Celebrating Minato Aqua's birthday!">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Happy birthday to Minato Aqua!" />
    <meta property="og:description" content="Celebrating Minato Aqua's birthday!" />
    {{!-- <meta property="og:image" content=""> --}}
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://raywarthog.github.io/aqua-birthday/">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Happy birthday to Minato Aqua!">
    {{!-- <meta name="twitter:image" content=""> --}}

    {{!-- <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="manifest" href="icons/site.webmanifest">
    <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff"> --}}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kosugi+Maru&family=Patrick+Hand&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/css/green-audio-player.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
        integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.css"
        integrity="sha512-FHwwMXxhAWjVhJyEgmmPg/aJ3BRmsOavHBV6yMK55Mz0rycBZcRmSowqij+ncd/JPtOzmUMZx7ZIRnGyqIE/1A=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="dist/index.css">

<body>
    <div id="white-full"></div>
    <div id="init-page">
        <div id="door-container">
            <div id="door-frame"></div>
            <div id="door_back"></div>
            <div id="door"></div>
        </div>
    </div>
    <div id="bg-container">
        <div id="bg">
            <div id="bg-inner-box"></div>
        </div>
    </div>
    <div id="content" style="display: none">
        <section id="welcome-msg" data-aos="fade-in">
            <p lang="ja">あくあちゃんお誕生日おめでとう</p>
            <p lang="ja">海外ニキから</p>
            <p lang="ja">あくあちゃんが私たちからのこの小さなプレゼントを楽しんでください</p>
        </section>

        <section id="cover-video">
            <div class="sect-title" data-aos="fade-in">
                <h1>Cover Mix (Video)</h1>
                <h3 lang="ja">カバー曲（ビデオ）</h3>
            </div>
            <div id="cover-video-container" data-aos="fade-in">
                <div class="video-container">
                    <iframe title="placeholder" src="https://www.youtube-nocookie.com/embed/O8v5S1nhKzo" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </section>

        <section id="cover-audio">
            <div class="sect-title" data-aos="fade-in">
                <h1>Cover Mix (Full)</h1>
                <h3 lang="ja">カバー曲</h3>
            </div>
            <div id="cover-audio-container" data-aos="fade-in">
                <audio controls>
                    <source src="audio/Blessing_resistance.webm" type="audio/webm">
                    <source src="audio/Blessing_resistance.ogg" type="audio/ogg">
                    <source src="audio/Blessing_resistance.mp3" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </section>

        <section id="birthday-msgs">
            <div class="sect-title" data-aos="fade-in">
                <h1>Messages</h1>
                <h3 lang="ja">寄せ書きメッセージ</h3>
            </div>
            <div class="card-columns">
                {{#each messages}}
                <div class="birthday-msg-card-container" data-aos="fade-in">
                    <div class="birthday-msg-card card card-default">
                        <div class="sender-details">
                            <div class="sender-name-container">
                                <span class="sender-name">{{username}}</span>
                                {{#with twitter}}
                                <span class="twitter-name text-muted">@{{this}}</span>
                                {{/with}}
                            </div>
                            <div>
                                {{#if country_code}}
                                <span class="flag-icon flag-icon-{{country_code}}" title="{{country_name}}"
                                    alt="{{country_name}}"></span>
                                {{/if}}
                            </div>
                        </div>
                        <div class="birthday-msg">
                            <blockquote class="blockquote mb-0" {{#if isMsgInJP}}lang="ja" {{/if}}>
                                <!-- htmlmin:ignore -->
                                <p>{{message}}</p>
                                <!-- htmlmin:ignore -->
                            </blockquote>
                            {{#if message_jp}}
                            <hr>
                            <blockquote class="blockquote mb-0" lang="ja">
                                <!-- htmlmin:ignore -->
                                <p>{{message_jp}}</p>
                                <!-- htmlmin:ignore -->
                            </blockquote>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>

        <section id="artbook">
            <div class="sect-title" data-aos="fade-in">
                <h1>Artbook</h1>
                <h3 lang="ja">画集</h3>
            </div>
            <div id="artbook-gallery">
                {{#each artbook_data}}
                <a href="{{fullpage}}" data-aos="fade-in">
                    <img srcset="{{thumbnail_small}} 150w,
                                 {{thumbnail}} 500w"
                         sizes="(max-width: 700px) 150px,
                                500px"
                        src="{{thumbnail}}"
                        alt=""
                        title="" />
                </a>
                {{/each}}
            </div>
        </section>

    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/greghub/green-audio-player/dist/js/green-audio-player.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.js"
        integrity="sha512-ZajFBgnksNp8Rj+AbmYe8ueOu45HiSjtf3QpqnRbHlq719m6VK0FkbYIqQ8wEnlVuJ1i9pC+z6Z9ewmDnUTMCg=="
        crossorigin="anonymous"></script>
    <script src="dist/index.js"></script>
</body>

</html>